{
    on_demand_tls {
        ask http://localhost:9090/cloud/tls-check
    }
}

fleet.example.com {
    handle /v1/* {
        reverse_proxy localhost:9091
    }

    handle /healthz {
        reverse_proxy localhost:9090
    }

    handle {
        reverse_proxy localhost:9090
    }
}

*.fleet.example.com {
    tls {
        on_demand
    }

    reverse_proxy localhost:9090
}
